:root {
  --primary-color: #00d5ff;
  --background-color: #fff;
  --text-color: #424242;
  --gray-borders: #ebebeb;
  --border-radius-container: 0.25rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  background-color: var(--background-color);
  min-width: 320px;
}
