<style>
    .header {
        width: 100%;
    }

    .navbar {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        background-color: var(--primary-color);
        box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
    }

    .navbar-left,
    .navbar-right {
        width: auto;
        height: 100%;
        display: flex;
        list-style: none;
    }

    .navbar-link {
        display: inline-flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding: 0 5px;
        font-size: 1.6rem;
        font-weight: 500;
        color: #fff;
        text-decoration: none;
    }
</style>
<header class="header">
    <nav class="navbar">
        <ul class="navbar-left">
            <li class="navbar-item"><a href="/
            " class="navbar-link">Home</a></li>
            <li class="navbar-item"><a class="navbar-link" href="/notes">Notes</a></li>
            <li class="navbar-item"><a class="navbar-link" href="/notes/add">Add Note</a></li>
            <li class="navbar-item"><a href="" class="navbar-link">About</a></li>
        </ul>
        <ul class="navbar-right">
            <li class="navbar-item"><a class="navbar-link" href="/signin">Login</a></li>
            <li class="navbar-item"><a href="/signup" class="navbar-link">Register</a></li>
        </ul>
    </nav>
</header>