<style>
    .notes-add-title {
        width: 100%;
        margin: 30px 0 0;
        text-align: center;
        font-size: 2.4rem;
        color: var(--primary-color);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    }

    .notes-form {
        width: 90%;
        max-width: 450px;
        padding: 20px 15px;
        margin: 15px auto;
        border: none;
        border-radius: var(--border-radius-container);
        background-color: #fff;
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);

    }

    .notes-form-label {
        display: inline-block;
        margin-top: 15px;
        font-size: 1.6rem;
        color: var(--text-color);
    }

    .notes-form-title {
        width: 100%;
        height: auto;
        min-height: 35px;
        border: none;
        border-bottom: 0.8px solid var(--text-color);
        font-size: 1.8rem;
        font-weight: 500;
        color: var(--text-color);
    }

    .notes-form-description {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        height: auto;
        min-height: 100px;
        margin-top: 10px;
        border: none;
        border-bottom: 0.8px solid var(--text-color);
        font-size: 1.6rem;
        font-weight: 400;
        color: var(--text-color);
    }

    .notes-form-description::placeholder,
    .notes-form-title::placeholder {
        color: transparent;
    }

    .notes-form-title:focus,
    .notes-form-description:focus {
        outline: none;
        border-bottom-width: 1.5px;
    }

    .notes-form-btn {
        width: 100%;
        height: 40px;
        margin-top: 15px;
        border: none;
        border-radius: var(--border-radius-container);
        font-size: 1.8rem;
        color: #fff;
        background-color: var(--primary-color);
    }
</style>
<h2 class="notes-add-title">New Note</h2>
<form class="notes-form">
    <label class="notes-form-label">Title</label>
    <input type="text" name="title" placeholder="Title" class="notes-form-title" id="createNoteTitle">
    <label class="notes-form-label">Descripiton</label>
    <textarea name="description" class="notes-form-description" id="createNoteDescription" cols="30" rows="10"
        placeholder="Description"></textarea>
    <button type="submit" class="notes-form-btn" id="createNoteBtn" onclick="createNote(event)">Create</button>
</form>

<script src="/js/notesActions.js"></script>